<div class="backgroundImage">
  <div class="merchantTable">
    <div class="tableButtonsView">
      <c-row>
        <c-col xs="4" class="leftTableHeader">
          <button
            cButton
            type="button"
            class="tableAddNewButton"
            shape="rounded-pill"
            (click)="showAddUserModal()"
          >
            + Dodaj novog trgovca
          </button>
        </c-col>
        <c-col xs="8" class="rightTableHeader">
          <button
            [cPopover]="popoverHtml"
            cPopoverPlacement="bottom"
            [cPopoverTrigger]="'click'"
            cButton
            class="tableButton"
            color="white"
            shape="rounded-pill"
          >
            Prikaz po strani &#8659;
            <ng-template #popoverHtml>
              <div class="popover-body">
                <c-row>
                  <button
                    cButton
                    class="itemPerPageButton"
                    color="white"
                    shape="rounded-pill"
                    (click)="setItemPerPage(10)"
                  >
                    10
                  </button>
                  <button
                    cButton
                    class="itemPerPageButton"
                    color="white"
                    shape="rounded-pill"
                    (click)="setItemPerPage(20)"
                  >
                    20
                  </button>
                  <button
                    cButton
                    class="itemPerPageButton"
                    color="white"
                    shape="rounded-pill"
                    (click)="setItemPerPage(30)"
                  >
                    30
                  </button>
                </c-row>
              </div>
            </ng-template>
          </button>
          <button
            cButton
            class="tableButton"
            color="white"
            shape="rounded-pill"
            (click)="exportExcel()"
          >
            Export data
          </button>
          <button
            [cPopover]="popoverHtml1"
            cPopoverPlacement="bottom"
            [cPopoverTrigger]="'click'"
            cButton
            class="tableButton"
            color="white"
            shape="rounded-pill"
          >
            Sort
            <ng-template #popoverHtml1>
              <div class="popover-body">
                <c-row class="popover-row">
                  <c-col>
                    <button
                      cButton
                      class="sortItemButton"
                      color="white"
                      shape="rounded-pill"
                      (click)="sortByName()"
                    >
                      Po imenu
                    </button>
                    <button
                      cButton
                      class="sortItemButton"
                      color="white"
                      shape="rounded-pill"
                      (click)="sortByCreatedOnASC()"
                    >
                      Po datumu kreiranja (uzlazno)
                    </button>
                    <button
                      cButton
                      class="sortItemButton"
                      color="white"
                      shape="rounded-pill"
                      (click)="sortByCreatedOnDESC()"
                    >
                      Po datumu kreiranja (silazno)
                    </button>
                  </c-col>
                </c-row>
              </div>
            </ng-template>
          </button>
        </c-col>
      </c-row>
    </div>
    <div id="excel-table" class="tableData">
      <table cTable hover>
        <thead class="tableHeader">
          <tr>
            <th scope="col">Ime firme</th>
            <th scope="col">PIB</th>
            <th scope="col">Matični broj</th>
            <th scope="col">Datum upisa</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="tableContent">
          <tr *ngFor="let item of showInTableUsers">
            <td>{{ item.name }}</td>
            <td>{{ item.taxNumber }}</td>
            <td>{{ item.regNumber }}</td>
            <td>{{ item.createdOn | date : "dd MMM, YY" }}</td>
            <td>
              <button
                cButton
                class="tableEditButton"
                (click)="showEditUserDataModal(item.guidId)"
                color="white"
                shape="rounded-pill"
              >
                edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <c-pagination class="custom">
      <li cPageItem [disabled]="currentPage === 1">
        <span cPageLink [routerLink] (click)="setPage(currentPage - 1)"
          >Previous</span
        >
      </li>
      <li
        *ngFor="
          let pages of [].constructor(totalPagesNumber);
          let pageIndex = index
        "
        [ngClass]="{ active: currentPage - 1 === pageIndex }"
      >
        <a cPageLink [routerLink] (click)="setPage(pageIndex + 1)">{{
          pageIndex + 1
        }}</a>
      </li>
      <li cPageItem [disabled]="currentPage === totalPagesNumber">
        <a cPageLink [routerLink] (click)="setPage(currentPage + 1)">Next</a>
      </li>
    </c-pagination>
  </div>

  <c-modal
    #addNewMerchantModal
    alignment="center"
    id="addNewMerchantModal"
    size="lg"
    [visible]="isAddReguserModalVisible"
    backdrop="static"
  >
    <c-modal-header>
      <p class="modalHeader">{{ modalAddEditUserTitle }}</p>
      <button (click)="toggleAddRegUsernModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <p class="modalTitleText">Podaci o trgovcu</p>
      <form
        cForm
        class="row g-3"
        [formGroup]="regUserForm"
        novalidate
        [validated]="isValidated"
      >
        <c-col [xs]="8">
          <div class="mb-3">
            <label cLabel for="regUserName" class="textInputField">
              Ime trgovca
            </label>
            <input
              required
              cFormControl
              formControlName="regUserName"
              id="regUserName"
              type="text"
              placeholder="Ime"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="regUserAddress" class="textInputField">
              Adresa trgovca
            </label>
            <input
              required
              cFormControl
              formControlName="regUserAddress"
              id="regUserAddress"
              type="text"
              placeholder="Adresa"
            />
          </div>
          <div class="mb-3">
            <c-row>
              <c-col>
                <label cLabel for="regUserFirstName" class="textInputField">
                  Ime
                </label>
                <input
                  required
                  cFormControl
                  formControlName="regUserFirstName"
                  id="regUserFirstName"
                  type="text"
                  placeholder="Ime odgovornog lica"
                />
              </c-col>
              <c-col>
                <label cLabel for="regUserLastName" class="textInputField">
                  Prezime
                </label>
                <input
                  required
                  cFormControl
                  formControlName="regUserLastName"
                  id="regUserLastName"
                  type="text"
                  placeholder="Prezime odgovornog lica"
                />
              </c-col>
            </c-row>
          </div>
          <div class="mb-3">
            <c-row>
              <c-col>
                <label cLabel for="regUserUsername" class="textInputField">
                  Korisničko ime
                </label>
                <input
                  required
                  minlength="8"
                  cFormControl
                  formControlName="regUserUsername"
                  id="regUserUsername"
                  type="text"
                  placeholder="Username"
                />
              </c-col>
              <c-col>
                <label cLabel for="regUserPassword" class="textInputField">
                  Lozinka
                </label>
                <input
                  minlength="7"
                  cFormControl
                  formControlName="regUserPassword"
                  id="regUserPassword"
                  type="text"
                  placeholder="xxxxxxxxx"
                />
              </c-col>
            </c-row>
          </div>
          <div class="mb-3">
            <label cLabel for="regUserEmail" class="textInputField">
              E-mail
            </label>
            <input
              required
              email
              cFormControl
              formControlName="regUserEmail"
              id="regUserEmail"
              type="email"
              placeholder="Email adresa"
            />
          </div>
        </c-col>
        <c-col [xs]="4">
          <div class="mb-3">
            <label cLabel for="regUserPIB" class="textInputField">PIB</label>
            <input
              required
              minlength="9"
              maxlength="9"
              pattern="[0-9]*"
              cFormControl
              formControlName="regUserPIB"
              id="regUserPIB"
              type="text"
              placeholder="xxxxxxxxx"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="regUserMB" class="textInputField"
              >Matični broj</label
            >
            <input
              required
              minlength="8"
              maxlength="8"
              pattern="[0-9]*"
              cFormControl
              formControlName="regUserMB"
              id="regUserMB"
              type="text"
              placeholder="xxxxxxxxx"
            />
          </div>
        </c-col>
        <c-col [xs]="12">
          <span *ngIf="showFormError" class="red">{{ errorMessage }}</span>
        </c-col>
        <div class="mb-3">
          <input
            cButton
            class="submitButton"
            type="submit"
            value="{{ modalAddEditUserConfirmButton }}"
            (click)="isEditing ? modifyRegUser() : addRegUser()"
          />
          <input
            cButtonClose
            class="cancelButton"
            type="submit"
            value="Cancel"
            (click)="toggleAddRegUsernModal()"
          />
        </div>
      </form>
    </c-modal-body>
  </c-modal>

  <c-modal
    #confirmNewReguserModal
    alignment="center"
    id="confirmNewReguserModal"
    [visible]="isSuccessfulyRegisteredUserModalVisible"
    backdrop="static"
  >
    <c-modal-header>
      <button (click)="resetFields()" cButtonClose></button>
    </c-modal-header>

    <c-modal-body>
      <img src="/assets/images/exclamationmark.png" class="modalImage" />
      <p cModalTitle class="modalTitle">
        {{ modalText }}
      </p>
      <p class="modalSubtitle"></p>
    </c-modal-body>
    <c-modal-footer>
      <input
        cButton
        class="modalSubmitButton"
        type="submit"
        value="U redu"
        (click)="resetFields()"
      />
    </c-modal-footer>
  </c-modal>
</div>
