<div class="backgroundImage">
    <div class="body flex-grow-1 px-3">
      <c-container breakpoint="lg" class="h-auto">
        <c-row>
            <c-col xs="0" sm="5" md="7"></c-col>
            <c-col xs="12" sm="7" md="5" class="backgroundView">
                <div class="content">
                    <c-row>
                        <c-col> <p class="titleText">Resetovanje lozinke</p> </c-col>
                    </c-row>
                    <form 
                        cForm
                        [formGroup]="resetPasswordForm"
                        [validated]="isValidated"
                    >
                        <div class="mb-3">
                        <label cLabel for="newPassword1" class="textInputField"
                            >Unesite novu lozinku</label
                        >
                        <input
                            required
                            minlength="8"
                            cFormControl
                            formControlName="newPassword1"
                            id="newPassword1"
                            type="password"
                        />
                        </div>
                        <div class="mb-3">
                        <label cLabel for="newPassword2" class="textInputField"
                            >Ponovite novu lozinku</label
                        >
                        <input
                            required
                            minlength="8"
                            cFormControl
                            formControlName="newPassword2"
                            id="newPassword2"
                            type="password"
                        />
                        </div>
                        
                        <h2 *ngIf="showResetPasswordErrorMessage" class="errorMessage red">
                            LOZINKE SE NE POKLAPAJU
                        </h2>
                        <h2 class="errorMessage red">
                            {{ requestError }}
                        </h2>
                        <input
                            cButton
                            class="submitButton"
                            type="submit"
                            value="Resetuj lozinku"
                            (click)="resetPassword()"
                        />
                        <br />
                    </form>
                </div>
            </c-col>
        </c-row>
      </c-container>
    </div>
</div>

<c-modal
    #confirmResetPasswordModal
    alignment="center"
    id="confirmResetPasswordModal"
    [visible]="isSuccessfulyResetPasswordModalVisible"
    backdrop="static"
>  
    <c-modal-body>
    <img src="/assets/images/exclamationmark.png" class="modalImage" />
    <p cModalTitle class="modalTitle">
        Uspešno ste resetovali lozinku
    </p>
    </c-modal-body>
    
    <c-modal-footer>
        <input
            cButton
            class="modalSubmitButton"
            type="submit"
            value="U redu"
            (click)="goToLogin()"
        />
    </c-modal-footer>
</c-modal>
  