api/global.json
api/.idea/.idea.NeZoviReg/.idea/.gitignore
api/.idea/.idea.NeZoviReg/.idea/.name
api/.idea/.idea.NeZoviReg/.idea/encodings.xml
api/.idea/.idea.NeZoviReg/.idea/indexLayout.xml
api/.idea/.idea.NeZoviReg/.idea/vcs.xml
api/.idea/config/applicationhost.config
/api/src/NeZoviReg.Migrations.Ef/migrations.my.json
