<ng-container *transloco="let t">
  <div class="settingsScreen">
    <c-row>
      <c-col xs="4" class="settingsMainForm">
        <form [formGroup]="sideMenuForm">
          <c-button-group [vertical]="true">
            <input
              class="btn-check"
              formControlName="radio1"
              type="radio"
              value="sideMenuFirst"
            />
            <label
              (click)="setRadioValue('sideMenuFirst')"
              cButton
              cFormCheckLabel
              class="settingsMainFormItem"
              color="secondary"
              variant="outline"
            >
              {{ t("Moj profil") }}
            </label>
            <input
              class="btn-check"
              formControlName="radio1"
              type="radio"
              value="sideMenuSecond"
            />
            <label
              (click)="setRadioValue('sideMenuSecond')"
              cButton
              cFormCheckLabel
              class="settingsMainFormItem"
              color="secondary"
              variant="outline"
            >
              {{ t("Korisnički nalozi") }}
            </label>
          </c-button-group>
        </form>
      </c-col>
      <c-col
        xs="7"
        class="settingsMyProfileForm"
        *ngIf="menuItemSelected == 'sideMenuFirst'"
      >
        <div class="myProfileHeader">
          <p>{{ t("Moj profil") }}</p>
        </div>
        <form cRow>
          <label cLabel class="textInputFieldLabel">
            {{ t("Korisničko ime") }}
          </label>
          <c-input-group class="mb-3">
            <input
              cFormControl
              placeholder="Uneti"
              value="{{ currentUsername }}"
              [disabled]="userNameDisabled"
            />
            <button
              cButton
              class="editUsernameButton"
              id="editUsername"
              type="button"
              (click)="toggleUserNameInput()"
            >
              {{ t("Promeni") }}
            </button>
          </c-input-group>
        </form>
        <form cForm [formGroup]="resetPasswordForm">
          <div class="mb-3">
            <label cLabel for="password" class="textInputFieldLabel">
              {{ t("Lozinka") }}
            </label>
            <input
              cFormControl
              [(ngModel)]="password"
              id="password"
              formControlName="password"
              type="password"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="newPassword" class="textInputFieldLabel">
              {{ t("Nova lozinka") }}
            </label>
            <input
              cFormControl
              [(ngModel)]="newPassword"
              id="newPassword"
              formControlName="newPassword"
              type="password"
            />
          </div>
          <h2
            *ngIf="showPasswordChangeErrorMessage"
            class="passwordChangeResultText red"
          >
            {{ t("NEUSPEŠNO PROMENJENA LOZINKA") }}
          </h2>

          <input
            cButton
            class="submitButton"
            type="submit"
            value="Promeni lozinku"
            (click)="changePassword()"
          />

          <p class="descriptionTitleText">
            {{ t("Promena lozinke i korisničkog imena") }}
          </p>
          <p class="descriptionSubtitleText"></p>
        </form>
      </c-col>

      <c-col
        xs="7"
        class="settingsUserAccountsForm"
        *ngIf="menuItemSelected == 'sideMenuSecond'"
      >
        <div class="myProfileHeader">
          <p>{{ t("Korisnički nalozi") }}</p>
        </div>
        <form novalidate cForm [formGroup]="userAccountsForm">
          <table cTable hover>
            <thead class="tableHeader">
              <tr>
                <th scope="col">{{ t("Ime") }}</th>
                <th scope="col">{{ t("Prezime") }}</th>
                <th scope="col">{{ t("Korisničko ime") }}</th>
                <th scope="col">{{ t("Lozinka") }}</th>
              </tr>
            </thead>

            <tbody class="tableContent">
              <tr
                formArrayName="accounts"
                *ngFor="
                  let item of userAccountsForm.get('accounts')?.value;
                  let i = index;
                  trackBy: customTrackBy
                "
              >
                <span [formGroupName]="i" style="display: contents">
                  <td>
                    <input
                      cFormControl
                      placeholder="{{ t('Ime') }}"
                      formControlName="firstName"
                      id="firstName{{ i }}"
                      [ngModel]="item.firstName"
                    />
                  </td>
                  <td>
                    <input
                      cFormControl
                      placeholder="{{ t('Prezime') }}"
                      formControlName="lastName"
                      id="lastName{{ i }}"
                      [ngModel]="item.lastName"
                    />
                  </td>
                  <td>
                    <input
                      cFormControl
                      placeholder="{{ t('Korisničko ime') }}"
                      formControlName="username"
                      id="username{{ i }}"
                      [ngModel]="item.username"
                    />
                  </td>
                  <td>
                    <input
                      cFormControl
                      placeholder="xxxxxxxxx"
                      formControlName="password"
                      id="password{{ i }}"
                      [ngModel]="item.password"
                    />
                  </td>
                  <td>
                    <button
                      cButton
                      class="tableDeleteButton"
                      (click)="deleteUserAccount(i)"
                      color="white"
                      shape="rounded-pill"
                    >
                      <svg [cIcon]="icons.cilTrash" class="sidebarIcon"></svg>
                    </button>
                  </td>
                </span>
              </tr>
            </tbody>
          </table>
        </form>
        <input
          cButton
          class="submitButton"
          type="submit"
          value="{{ t('Sačuvaj') }}"
          (click)="saveRegUserAccounts()"
        />
        <input
          cButton
          class="submitButton leftmargin10"
          value="{{ t('Dodaj') }}"
          (click)="addUserAccount()"
        />
      </c-col>
    </c-row>

    <c-modal
      #verticallyCenteredModal
      alignment="center"
      id="verticallyCenteredModal"
      [visible]="isConfirmationModalVisible"
    >
      <c-modal-header>
        <button
          [cModalToggle]="verticallyCenteredModal.id"
          cButtonClose
        ></button>
      </c-modal-header>

      <c-modal-body>
        <img src="/assets/images/exclamationmark.png" class="modalImage" />
        <p cModalTitle class="modalTitle">
          {{ t("Uspešno ste promenili lozinku") }}
        </p>
        <p class="modalSubtitle"></p>
      </c-modal-body>
      <c-modal-footer>
        <input
          cButton
          [cModalToggle]="verticallyCenteredModal.id"
          class="modalSubmitButton"
          type="submit"
          [value]="t('NAZAD')"
          (click)="resetFields()"
        />
      </c-modal-footer>
    </c-modal>

    <c-modal
      alignment="center"
      id="confirmAccountChanged"
      [visible]="isSuccessfulyAccountUpdatedModalVisible"
      backdrop="static"
    >
      <c-modal-header>
        <button (click)="hideModalAndRedirect()" cButtonClose></button>
      </c-modal-header>

      <c-modal-body>
        <img src="/assets/images/exclamationmark.png" class="modalImage" />
        <p cModalTitle class="modalTitle">
          {{ t("Azurirani podaci korisnika") }}
        </p>
        <p class="modalSubtitle"></p>
      </c-modal-body>
      <c-modal-footer>
        <input
          cButton
          class="modalSubmitButton"
          type="submit"
          [value]="t('U redu')"
          (click)="hideModalAndRedirect()"
        />
      </c-modal-footer>
    </c-modal>
  </div>
</ng-container>
