.headerContainer {
    height: 13vh;
    vertical-align: middle;
}

.headerTitle {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 34.919px;
    line-height: 50px;
    color: #224C8D;
}

.searchButton {
    border-radius: 40px;
    border-width: 1;
    border-color: lightgrey;
    background: white;
    
}
