.headerContainer {
  height: 10vh;
  vertical-align: middle;
}

.headerTitle {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  line-height: 50px;
  color: #224c8d;

  vertical-align: middle;
  display: table-cell;
}

.searchButton {
  border-radius: 40px;
  border-width: 1;
  border-color: lightgrey;
  background: white;
}
.defaultHeader {
  width: 100%;
}
#accountData {
  float: right;
}

.userColumn {
  font-family: "Source Sans 3";
  text-align: right;
  vertical-align: middle;
  display: table-cell;
}

.headerColumn {
  display: table;
}

@media screen and (max-width: 650px) {
  .headerTitle {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 50px;
    color: #224c8d;
  }
  .userColumn {
    text-align: right;
    width: 25vw;
  }
}

@media screen and (max-width: 1000px) {
  c-row {
    display: block;
  }
  c-col {
    width: 100%;
    text-align: center
  }
  .userColumn {
    font-size: 2.5vw;
  }
}
