.regusersTable {
  background-color: white;
  padding: 5%;
  border-radius: 25px;

  font-family: "Source Sans 3";
  font-style: normal;
}

.tableAddNewButton {
  width: 220px;
  height: 43px;
  margin-right: 1%;
  border-color: #95a7c4;
  border-width: 1px;
  background-color: #224c8d;

  font-weight: 700;
  color: #ffffff;
}

.leftTableHeader {
  text-align: left;
}

.rightTableHeader {
  text-align: right;
}

.tableData {
  padding-top: 3%;
  justify-content: center;
  text-align: center;
}

.tableHeader {
  font-weight: 700;
  font-size: 16.3583px;
  line-height: 23px;
  color: #224c8d;
}

.tableContent {
  font-weight: 400;
  font-size: 16.3023px;
  line-height: 23px;
  color: #001942;
}

c-modal {
  width: 100%;
}

.modalHeader {
  background-color: #ebf1f8;
  padding: 0;
}

c-modal-header {
  background-color: #ebf1f8;
  background-size: contain;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; // z-index: -1;
  padding: 5%;
}

c-modal-body {
  padding: 5%;
}

.modalHeader {
  font-weight: 700;
  font-size: 27.679px;
  line-height: 20px;
  color: #133f85;
}

.modalTitleText {
  font-weight: 700;
  font-size: 23.227px;
  line-height: 33px;
  color: #001942;
}

.textInputField {
  font-weight: 700;
  font-size: 16.259px;
  line-height: 23px;
  color: #444444;
}

.submitButton {
  width: 188px;
  height: 50px;
  background: #224c8d;
  border-radius: 5px;

  font-size: 100%;
  line-height: 30px;
  color: #ffffff;
  margin-top: 10%;
  margin-right: 5%;
}

.cancelButton {
  width: 188px;
  height: 50px;
  background: #e4e9f0;
  border-radius: 5px;
  border-color: #444444;

  font-size: 100%;
  line-height: 30px;
  color: #444444;
  margin-top: 10%;
}

.modalRowButtons {
  text-align: center;
}

.itemPerPageButton {
  width: 40px;
  height: 30px;
  margin-right: 2px;
  border-color: #95a7c4;
  border-width: 1px;

  font-size: x-small;
  font-weight: 700;
  color: #133f85;
}

.custom {
  padding: 5%;
}

.custom-paginator .page-link.active,
.active > .page-link {
  color: white;
  background-color: #224c8d;
  border-color: #224c8d;
}

.custom-paginator .page-link,
.page-link {
  --cui-pagination-color: #224c8d;
}

.modalImage {
  padding: 5%;
}

.modalTitle {
  font-weight: 700;
  font-size: 29.262px;
  line-height: 42px;
  color: #133f85;
}

.modalSubtitle {
  font-weight: 400;
  font-size: 16.386px;
  line-height: 23px;
  color: #3f6aa3;
}

c-modal {
  text-align: center;
}

c-modal-footer {
  justify-content: center;
}

.modalSubmitButton {
  width: 342px;
  height: 50px;
  background: #224c8d;
  border-radius: 5px;
  align-items: center;
}

.sortItemButton {
  width: 140px;
  height: 30px;
  margin-right: 2px;
  border-color: #95a7c4;
  border-width: 1px;

  font-size: x-small;
  font-weight: 700;
  color: #133f85;

  margin-top: 2%;
}

.popover-row {
  text-align: center;
  width: 165px;
}
