.backgroundImage {
    background-image: url("../../../../assets/images/homebck.png");    
    min-height: 82vh;
    background-size: cover;
}

.body {
    font-family: 'Source Sans 3';
    font-style: normal;

    padding-top: 2%;
}

.titleText {
    font-weight: 700;
    font-size: 25.608px;
    line-height: 36px;
    color: #133F85;

    padding-bottom: 50%;
}

.phoneNumberText {
    font-weight: 700;
    font-size: 17.459px;
    line-height: 25px;
    color: #001942;
}

.descriptionText {
    font-weight: 400;
    font-size: 15.132px;
    line-height: 22px;
    color: #3F6AA3;
}

.submitButton {
    width: 40%;
    height: 10%;   
    background: #224C8D;
    border-radius: 5px;

    font-size: 100%;
    line-height: 30px;
    color: #FFFFFF;

    margin-top: 20%;
    margin-bottom: 10%;
}

.backgroundView {
    background-color: white;
    border-radius:  25px;
    // width: 25vw;
}

.content {
    padding: 5%;
}