c-offcanvas {
  background-color: RGBA(0, 25, 66, 0.4) !important;
  font-family: "Source Sans 3";
  height: auto !important;
}

c-offcanvas-body span {
  display: inline-block;
}
c-offcanvas-body p {
  margin-bottom: 0px;
}
c-offcanvas-body button {
  float: right;
}

//Drugi ekran
c-modal-body {
  font-family: "Source Sans 3";
  text-align: center;
  color: #3f6aa3;
}

c-modal-header,
c-modal-footer {
  border: 0px;
}

c-modal-body h5 {
  font-weight: 800;
  margin-bottom: 20px;
}

c-modal-body img {
  margin-bottom: 20px;
}

c-modal-body input {
  margin-top: 20px;
  border: 1px solid #c0cbdb;
}

c-modal-body #inputEmail {
  width: 60%;
  display: inline-block;
}

c-modal-footer span {
  vertical-align: middle;
  font-family: "Source Sans 3";
  color: #3f6aa3;
}

c-modal-footer button img {
  vertical-align: middle;
  margin-right: 10px;
}

.backgroundImage {
  background-image: url("../../../../assets/images/homebck.png");
  min-height: 82vh;
  background-size: cover;
}

.body {
  font-family: "Source Sans 3";
  font-style: normal;

  padding-top: 2%;
}

.titleText {
  font-weight: 500;
  font-size: 25.608px;
  line-height: 36px;
  color: #133f85;

  padding-bottom: 10%;
}

.textInputField {
  font-weight: 500;
  font-size: 17.459px;
  line-height: 25px;
  color: #001942;
}

.forgottenPassword {
  text-decoration: auto;
  display: block;
  font-weight: 700;
  font-size: 14.301px;
  line-height: 20px;
  color: #3f6aa3;
  padding-bottom: 20px;
}

.descriptionText {
  font-weight: 400;
  font-size: 15.132px;
  line-height: 22px;
  color: #3f6aa3;
}

.submitButton {
  width: 40%;
  height: 10%;
  background: #224c8d;
  border-radius: 5px;

  font-size: 100%;
  line-height: 30px;
  color: #ffffff;

  margin-top: 10%;
  margin-bottom: 5%;
}

.signUpButton {
  width: 40%;
  height: 10%;
  background: #e4e9f0;
  border-radius: 5px;
  border-color: #e4e9f0;

  font-size: 100%;
  line-height: 30px;
  color: #444444;
  margin-bottom: 10%;
}

.backgroundView {
  background-color: white;
  border-radius: 25px;
  // width: 25vw;
}

.content {
  padding: 5%;
}

.loginResultText {
  font-weight: 700;
  font-size: 15.132px;
  line-height: 22px;
}

.red {
  color: red;
}

@media screen and (min-width: 400px) {
  .recaptcha {
    transform: scale(0.4);
    transform-origin: 0;
  }
}

@media screen and (min-width: 800px) {
  .recaptcha {
    transform: scale(0.6);
    transform-origin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .recaptcha {
    transform: scale(0.8);
    transform-origin: 0;
  }
}
