.contactUsScreen {
  min-height: 82vh;
  background-size: cover;

  font-family: "Source Sans 3";
  font-style: normal;
}

.contactUsForm {
  background-color: white;
  padding: 5%;
  border-radius: 25px;

  font-family: "Source Sans 3";
  font-style: normal;
}

.titleText {
  font-weight: 700;
  font-size: 27.679px;
  line-height: 39px;
  color: #133f85;
}

.subtitleText {
  font-weight: 400;
  font-size: 15.132px;
  line-height: 22px;
  color: #001942;

  margin-bottom: 5%;
}

.contactInfo {
  font-weight: 700;
  font-size: 27.935px;
  line-height: 40px;
  color: #3f6aa3;
}

.submitView {
  text-align: center;
}

.submitButton {
  margin-top: 3%;
  width: 262px;
  height: 50px;
  background: #224c8d;
  border-radius: 5px;
}

.contactInfoContainer {
  background-color: #f5f8fb;
  border-top: 2px solid #c0cbdb;
  border-bottom: 2px solid #c0cbdb;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Source Sans 3";
}

.contactInfoContainer span {
  margin-left: 1rem;
  text-align: center;
}
.contactInfoContainer c-col {
  margin-top: 20px;
  margin-bottom: 20px;
}
.iconContainer {
  min-width: 50px;
  display: inline-block;
}
