<div class="contactUsScreen">
  <div class="contactUsForm">
    <p *ngIf="!formSubmitted" class="titleText">Pošaljite nam poruku</p>
    <p *ngIf="!formSubmitted" class="subtitleText">
      Pošaljite nam poruku i očekujte odgovor u roku od 24h
    </p>
    <c-row>
      <c-col xs="7">
        <form
          *ngIf="!formSubmitted"
          cForm
          class="row g-3"
          [formGroup]="messageForm"
        >
          <c-col [md]="6">
            <label cLabel for="inputName">Ime i prezime</label>
            <input cFormControl formControlName="inputName" id="inputName" />
          </c-col>
          <c-col [md]="6">
            <label cLabel for="">Email</label>
            <input
              cFormControl
              type="email"
              formControlName="inputEmail"
              id="inputEmail"
            />
          </c-col>
          <c-col [xs]="6">
            <label cLabel for="">Broj telefona</label>
            <input cFormControl formControlName="inputPhone" id="inputPhone" />
          </c-col>
          <c-col [xs]="6">
            <label cLabel for="">Ime firme</label>
            <input
              cFormControl
              formControlName="inputCompanyName"
              id="inputCompanyName"
            />
          </c-col>
          <c-col>
            <textarea
              cFormControl
              placeholder="Unesite sadržaj poruke"
              rows="6"
              formControlName="inputMessage"
              id="inputMessage"
            ></textarea>
          </c-col>
        </form>
        <div *ngIf="formSubmitted">
          <div class="centeredDiv">
            <img src="/assets/images/tick.svg" class="tickImage" />
            <p class="titleText">Hvala vam!</p>
            <p class="subtitleText">
              Pošaljite nam poruku i očekujte odgovor u roku od 24h
            </p>
            <button cButton class="submitButton" type="submit" (click)="done()">
              Done
            </button>
          </div>
        </div>
      </c-col>
      <c-col xs="1"></c-col>
      <c-col xs="4">
        <p class="contactInfo">Kontakt informacije</p>
        <div class="contactInfoContainer">
          <c-col>
            <span class="iconContainer">
              <img src="/assets/images/locationMark.png" />
            </span>
            <span>Lorem ipsum</span>
          </c-col>
          <c-col>
            <span class="iconContainer">
              <img src="/assets/images/envelopeMark.png" />
            </span>
            <span>ime@ratel.rs</span>
          </c-col>
          <c-col>
            <span class="iconContainer">
              <img src="/assets/images/phoneMark.png" />
            </span>
            <span>064 123 45 67 </span></c-col
          >
        </div>
      </c-col>
    </c-row>
    <div class="submitView">
      <button
        *ngIf="!formSubmitted"
        cButton
        class="submitButton"
        type="submit"
        (click)="sendMessage()"
      >
        Pošalji
      </button>
    </div>
  </div>
</div>
