.helpPageScreen {
    background-image: url("../../../assets/images/dots.svg");    
    background-size: cover;
    min-height: 82vh;

    font-family: 'Source Sans 3';
    font-style: normal;
}

.faqImage {
    height: 25vh;
    width: 20vw;
}

.faqForm {
    background-color: white;
    padding: 5%;
    border-radius: 25px;

}

.titleText {
    font-weight: 700;
    font-size: 27.679px;
    line-height: 39px;
    color: #133F85;
}

.subtitleText {
    font-weight: 400;
    font-size: 15.132px;
    line-height: 22px;
    color: #001942;

    margin-bottom: 5%;
}