<ng-container>
  <c-header>
    <c-container fluid>
      <a class="header-brand" href="#">
        <img
          src="/assets/brand/ratellogo.png"
          alt=""
          height="100"
          class="d-inline-block align-middle"
          alt="Ratel Logo"
        />
      </a>
      <span id="header-title">
        <h2>Dobrodošli u registar "Ne Zovi"</h2>
        <h4>Tekst podnaslova u dužini do 50 karaktera</h4>
      </span>

      <button cButton color="secondary" variant="ghost">
        <img src="/assets/icons/loginicon.svg" /><span>Sign in</span>
      </button>
    </c-container>
  </c-header>
</ng-container>
