<c-container breakpoint="lg" class="h-auto home-bck">
  <router-outlet></router-outlet>
  <c-row class="aaaa">
    <c-col xs="8"></c-col>
    <c-col xs="4">
      <form cForm>
        <div class="mb-3">
          <label cLabel for="inputEmail-1">Broj telefona</label>
          <input cFormControl id="inputEmail-1" type="email" />
        </div>
        <c-form-check class="mb-3">
          <input cFormCheckInput id="checkMeOut-1" type="checkbox" />
          <label cFormCheckLabel for="checkMeOut-1">Pretraga</label>
        </c-form-check>
        <input cButton color="primary" type="submit" />
      </form>
    </c-col>
  </c-row>
  <c-offcanvas
    placement="bottom"
    id="OffcanvasBottom"
    [visible]="true"
    [keyboard]="true"
    class="text-bg-dark"
  >
    <c-offcanvas-body>
      <c-container fluid>
        <span>
          <p>Politika kolačića Ratel. Do 200 karaktera.</p>
          <p>Politika kolačića Ratel. Do 200 karaktera.</p>
        </span>
        <button
          cButton
          color="primary"
          cOffcanvasToggle="OffcanvasBottom"
          class="text-reset"
          aria-label="Close"
        >
          Prihvati
        </button>
      </c-container>
    </c-offcanvas-body>
  </c-offcanvas>
</c-container>
