c-offcanvas {
  background-color: RGBA(0, 25, 66, 0.4) !important;
  font-family: "Source Sans 3";
  height: auto !important;
}

c-offcanvas-body span {
  display: inline-block;
}
c-offcanvas-body p {
  margin-bottom: 0px;
}
c-offcanvas-body button {
  float: right;
}
