<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="verticallyCenteredModal"
  visible="true"
>
  <c-modal-header>
    <p class="modalHeader">
      Pokušavate da napustite stranicu registra "NE ZOVI"
    </p>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p class="modalBodyTitle">Da li ste sigurni?</p>
    <form cForm>
      <input cButton class="signOutButton" type="submit" value="Sign out" />
      <input cButton class="cancelButton" type="submit" value="Cancel" />
    </form>
  </c-modal-body>
</c-modal>
